* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:blanchedalmond;
    color:#333;
    padding: 20px;
}
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8 px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    color:rgb(98, 25, 165)
}
nav {
    margin-bottom: 20px;
}
menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
}
menu li {
    padding: 10px;
}
menu a {
    text-decoration: underline;
    color:brown;
    font-weight: bold;
    transition: color 0.3s;
}
menu a:hover{
    color:rgb(128, 32, 32);
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
form div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
input[type="text"]{
    padding:8px;
    width:250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}
footer{
    margin-top: 40px;
    text-align: center;
}
footer a {
    color:brown;
    text-decoration: underline;
    font-size: 1em;
}
footer a:hover {
    color:rgb(128, 32, 32);

}